@tailwind base;
@tailwind components;
@tailwind utilities;


* ::-webkit-scrollbar{
    display: none;
}


.theme-galaxy {
    --color-primary: #D82530;
    --color-secondary : white;
  }
  
  .theme-361 {
    --color-primary: #FF5E00;
    --color-secondary : white;
  }
  
  .theme-courts {
    --color-primary: #0066CC;
    --color-secondary : white;
  }
  

.brandimg {
    @apply border rounded-lg hover:scale-110 transition-all ease-in-out w-[150px] h-[150px]
}
.navfix-items {
  border-color: var(--color-primary);
}
.navfix-items{
@apply bg-secondary hover:bg-primary text-primary font-semibold hover:text-secondary py-1 px-3 border rounded-full
}